
body{width:100vw;
    height:100vh;
	overflow-x:hidden;
	overflow-y:hidden;
	display:flex;
	flex-direction:column;
	justify-content:center;
	background: radial-gradient(#ac75e7, #000000);}
.main{display:flex;
	justify-content:center;
    align-items:center;
    align-content:center;
    flex-direction:column;}
.butt {-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: #4B0082;
    color: #ffffff;
    height:65px;
    width:300px;
    border-radius:20px;
    font-size:18px;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight:bold;
	margin-bottom:15px;
	box-shadow: 5px 7px 5px black;}
.butt:hover {
    background-color: #edd5ff;
    color:black;
	