body{width:100vw;
    height:100vh;
	overflow-x:hidden;
	overflow-y:hidden;
	display:flex;
	flex-direction:column;
	justify-content:center;}
#us_name{top:25%;
    left:10%;}
#comp_name{top:25%;
    left:75%;}
.names{font-size:25px;
	font-weight:bold;
	font-family:sans-serif;
	width:150px;
    height:45px;
    border-radius:10px;
    display:flex;   
    justify-content:center;    
    align-items:center;	
    position:absolute;}

#us_score{top:31%;
    left:10%;}
#comp_score{top:31%;
    left:75%;}
.scores{background-color:#1E90FF;
    width:150px;
    height:45px;
    border-radius:10px;
    display:flex;
	font-size:25px;
	font-weight:bold;
	font-family:sans-serif;
	position:absolute;
    justify-content:center;    
    align-items:center;}

#us_point{top:41%;
    left:10%;}
#comp_point{top:41%;
    left:75%;}
.points{background-color:yellow;
    width:145px;
    height:145px;
    border-radius:100%;
    border:3px solid black;
    display:flex;
	font-size:45px;
	font-weight:bold;
	font-family:sans-serif;
	position:absolute;
    justify-content:center;    
    align-items:center;}

#butt{width:250px;
    background-color:#7CFC00;
    height:100px;
    border-radius:10px;
    border:3px solid black;
    display:flex;
	font-size:35px;
	font-weight:bold;
	font-family:sans-serif;
	position:absolute;
	top:40%;
    left:37.5%;
    justify-content:center;    
    align-items:center;}


@media screen and (max-width:900px){
	#butt{width:200px;
    height:80px;
	font-size:25px;
    left:35.8%;}

#us_name{left:6%;}
#comp_name{left:75%;}
.names{font-size:25px;
	width:140px;
    height:43px;}

#us_score{left:6%;}
#comp_score{left:75%;}
.scores{width:140px;
    height:43px;
	font-size:23px;}

#us_point{left:6%;}
#comp_point{left:75%;}
.points{height:135px;
    width:135px;
	font-size:35px;}}


@media screen and (max-width:610px){
    #butt{width:155px;
    height:65px;
	font-size:20px;
    left:36%;}

#us_name{left:5%;}
#comp_name{left:75%;}
.names{font-size:20px;
	width:115px;
    height:37px;}

#us_score{left:5%;}
#comp_score{left:75%;}
.scores{width:115px;
    height:37px;
	font-size:18px;}

#us_point{left:5%;}
#comp_point{left:75.5%;}
.points{height:100px;
    width:100px;
	font-size:28px;}}



@media screen and (max-width:480px){
	#butt{width:115px;
    height:50px;
	font-size:16px;
    left:39%;}

#us_name{left:3.5%;
    top:30%;}
#comp_name{left:73.5%;
    top:30%;}
.names{font-size:16px;
	width:115px;
    height:37px;}

#us_score{left:5%;
    top:35%;}
#comp_score{left:75%;
    top:35%;}
.scores{width:100px;
    height:30px;
	font-size:14px;}

#us_point{left:7%;}
#comp_point{left:76.5%;}
.points{height:75px;
    width:75px;
	font-size:20px;}}


@media screen and (max-width:350px){
	#butt{width:100px;
    height:40px;
	font-size:14px;
    left:36%;}

#us_name{left:3%;
    top:31%;}
#comp_name{left:72%;
    top:31%;}
.names{font-size:14px;
	width:85px;
    height:25px;}

#us_score{left:4%;
    top:35%;}
#comp_score{left:73%;
    top:35%;}
.scores{width:80px;
    height:25px;
	font-size:14px;}

#us_point{left:5.5%;}
#comp_point{left:75%;}
.points{height:60px;
    width:60px;
	font-size:20px;}}
